* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 4rem;
}

.achievment {
  content: "";
  top: 50%;
  left: 50%;
  width: 2px;
  height: 8rem;
  background-color: black;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
}

section.achievment > p {
  margin: 2rem 4rem;
  text-align: justify;
  width: 1000px;
}

div.bullet {
  width: 1.5rem;
  height: 1.5rem;
  background-color: black;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
}
