* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profil {
  padding: 0.25rem;
  margin-left: 0.25rem;
  flex-direction: row;
}

nav {
  margin-right: 0.25rem;
}

nav a {
  padding: 0.25rem;
  text-decoration: none;
}

.hero {
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project .hero .work-experience .education {
  display: flex;
  flex-direction: column;
  width: 100%;
}

aside {
  display: flex;
  flex-direction: column;
}
