* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
  padding: 0 1em;
  font-size: 1em;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profil {
  padding: 0.25rem;
  margin-left: 0.25rem;
  flex-direction: row;
}

nav {
  margin-right: 0.25rem;
}

nav a {
  padding: 0.25rem;
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  font-size: 1.5em;
}

main {
  display: flex;
  justify-content: space-around;
}

main > section {
  padding: 0 0.75em;
}

.projects,
.work-experience,
.education {
  display: flex;
  flex-direction: column;
  width: 100%;
}

aside {
  padding: 1em;
}

.review-wrapper {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.review-wrapper > div {
  border: 2px solid rgb(0, 136, 124);
  width: 25%;
  border-radius: 20px;
  padding: 0.25em 0.5em;
}

footer {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  header,
  nav,
  nav a {
    display: grid;
    justify-content: center;
    width: auto;
    font-size: 1.25rem;
  }

  .hero {
    display: grid;
    justify-content: center;
    padding: 20px;
  }

  main {
    display: grid;
    text-align: center;
  }

  main > section {
    padding: 0.5em;
  }

  section > ul {
    list-style: none;
  }
}
